{% extends "base.html" %}
{% block content %}

<h2>Roger and Friends!</h2>
<nav class="media-nav">
        <a href="/media" role="button" class="btn btn-primary">Videos</a>
        <a href="/images" role="button" class="btn btn-info">Images</a>
</nav>    
</br>    


<div class="responsive">
        <div class="gallery">
          <a target="_blank" href="static/images/IMG_9064.JPG">
            <img src="static/images/IMG_9064.JPG" alt="Roger" width="600" height="400">
          </a>
      </div>
      </div>
      
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="static/images/IMG_5384.JPG">
            <img src="static/images/IMG_5384.JPG" alt="Roger" width="600" height="400">
          </a>
      </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="static/images/IMG_4580.JPG">
            <img src="static/images/IMG_4580.JPG" alt="Roger" width="600" height="400">
          </a>
      </div>
      </div>
      
      <div class="responsive">
        <div class="gallery">
          <a target="_blank" href="static/images/IMG_4560.JPG">
            <img src="static/images/IMG_4560.JPG" alt="Roger" width="600" height="400">
          </a>
      </div>
      </div>


      <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="static/images/IMG_4555.JPG">
                <img src="static/images/IMG_4555.JPG" alt="Roger" width="600" height="400">
              </a>
        </div>
        </div>

        <div class="responsive">
                <div class="gallery">
                  <a target="_blank" href="static/images/IMG_4515.JPG">
                    <img src="static/images/IMG_4515.JPG" alt="Roger" width="600" height="400">
                  </a>
          </div>
          </div>

         <div class="responsive">
            <div class="gallery">
              <a target="_blank" href="static/images/IMG_0153.JPG">
                <img src="static/images/IMG_0153.JPG" alt="Roger" width="600" height="400">
              </a>
          </div>
         </div>

      
      <div class="clearfix"></div>

{% endblock %}