{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">Roger Umana is a Miami,FL based Latin-Grammy winning recording artist. </p>
    <img style="width: 500px" src="static/images/IMG_0151.JPG">
    <img src="static/images/IMG_0149.JPG" style="width: 500px">
    <hr class="my-4">
    <p>Roger has 25+ years of experience as a trumpet player. Roger specializes in Lead Trumpet, Jazz, Classical, and Commercial Music. Click below to learn more!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    </p>
</div>
{% endblock %}
