{% extends "base.html" %}
{% block content %}
<h2>Roger playing Lead Live!</h2>

<nav class="media-nav">
            <a href="/media" role="button" class="btn btn-primary">Videos</a>
            <a href="/images" role="button" class="btn btn-info">Images</a>
</nav>    
</br>    

<div class="video-left">
<iframe src="https://player.vimeo.com/video/143562365" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/143562365">Urban Island live at Pinecrest Gardens</a> from <a href="https://vimeo.com/dredcalle">ECN</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


<iframe src="https://player.vimeo.com/video/143568560" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/143568560">El Manisero live 10/24/15</a> from <a href="https://vimeo.com/dredcalle">ECN</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

<iframe width="500" height="281" src="https://www.youtube.com/embed/P0PuyjUgqbY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Roger playing Lead with the MDC Latin Jazz All-Stars!</p>


</div>
<div class="video-right">
    <iframe src="https://player.vimeo.com/video/143565655" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/143565655">Biscayne Bay Live part 1</a> from <a href="https://vimeo.com/dredcalle">ECN</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <iframe src="https://player.vimeo.com/video/143566721" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/143566721">Biscayne Bay Part 2</a> from <a href="https://vimeo.com/dredcalle">ECN</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <iframe width="500" height="281" src="https://www.youtube.com/embed/nVll76b9Zkk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>Roger playing Lead with the Broward Jazz Orchestra!</p>
</div>



{% endblock %}
